.card {
  width: 25rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  flex: 1 0 15rem;
}

.card-img {
  background-position: 0% 40%;
  background-size: cover;
  height: 11rem;
  width: 25rem;
}

.card-footer {
  padding: 1rem;
}

.card-footer_heading {
  margin-block-start: 0;
  margin-block-end: 0;
}

.card-footer_info {
  margin-block-start: 0.7rem;
  margin-block-end: 0;
  font-weight: lighter;
  font-size: 1rem;
}
