.search-bar {
  display: flex;
  justify-content: center;
  color: white;
}

.search-bar input {
  padding: 1.3rem 0.5rem;
  width: 48rem;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  border-radius: 0.5rem;
}

.search-bar :focus {
  outline: none;
}
