.locations {
  margin: 4rem 14.7rem;
}

.locations-title {
  font-weight: 100;
  font-size: 2.1rem;
  opacity: 0.7;
}

.city-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}
