.app-header {
  height: 26.25rem;
  background-image: url('./assets/header_bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 3rem 8rem;
}
