.input-text {
  padding: 0.5rem;
  font-size: 1.2rem;
  height: 1.8rem;
  width: 18rem;
  border-radius: 0.5rem;
  border-width: 1px;
  opacity: 0.5;
  color: black;
  border-style: double;
}

.input-text:focus {
  opacity: 1;
}
